main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.detailsBox{
    background-color: rgb(18, 18, 42);
    border-radius: 10px;
    box-shadow: 1px 1px 80px rgb(48, 26, 26);
    padding: 1rem;
    width: 100%;
} 

.backBtn{
    text-decoration: none;
    color: rgb(128, 13, 236);
}