main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 23rem;
    border: 1px solid gray;
    padding: 1rem;
    background-color: rgb(26, 26, 40);
    border-radius: 10px;
}

input{
    margin-bottom: 1.5rem;
    border-radius: 5px;
    padding: .4rem .7rem;
    background-color: transparent;
    outline: none;
    border: 1px solid darkgray;
    color: rgb(205, 205, 205);
}


.inputs{
    display: flex;
    flex-direction: column;
}

form button {
    padding: .2rem .4rem;
    background-color: rgb(228, 151, 6);
    color: white;
    border: none;
}

#backBtn{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-bottom: 1.5rem;
}