* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(13, 13, 21);
    width: 100vw;
    height: 100vh;
    color: white;
}

header{
    padding: 1rem 5rem 1rem 3rem;
    background-color: #191b29;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newPostBtn{
    background-color: green;
    border: none;
    padding: .3rem;
    font-size: 1.1rem;
    border-radius: 5px;
    color: white;
}

#brandName{
    color: red;
}

main{
    width: 80vw;
    margin: 0 auto;
    padding-top: 1.5rem;
}

#posts-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 1rem;
}

.post{
    border: 1px solid rgb(57, 57, 57);
    width: fit-content;
    max-width: 18em;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
}

.postContent{
    min-height: 8.5rem;
}

.username{
    color: rgb(50, 97, 154);
    margin-bottom: .7rem;
}

.content{
    color: rgb(155, 155, 155);
}