body{
    background-color: #0c1014;
    color: whitesmoke;
    width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.profilePic img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.profile-details {
    gap: 5rem;
}
.flex{
    display: flex;
}
.top button{
    margin-left: 1rem;
}
.bottom{
    gap: 1rem;
}
.images{
    display: flex; 
    gap: 2rem; 
    justify-content: center;
    margin-top: 2rem;
}
.posts img{
    height: 200px;
    width: 200px;
}
.images p{
    font-size: .8rem;
    color: gray;
}