<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/newPostForm.css">
</head>
<body>
    <%- include("includes/navbar.ejs") %>

    <main>
        <a href="/posts" class="backBtn">< Go Back!</a>

        <h2>Edit Post</h2>

        <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
            <div class="inputs">
                <label for="content" class="username">@<%= post.username %></label>
                <br>
                <textarea id="editArea" placeholder="What's in your mind..." name="content" ><%= post.content %></textarea>
            </div>
            <button>Update Post</button>
        </form>
    </main>

</body>
</html>