<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/newPostForm.css">
</head>
<body>
    <%- include("includes/navbar.ejs") %>

    <main>
        <a href="/posts" id="backBtn">< Go Back!</a>

        <form action="/posts" method="post">
            <div class="inputs">
                <input type="text" placeholder="Username" name="username">
                <input type="text" placeholder="What's in your mind..." name="content">
            </div>
            <button>Add Post</button>
        </form>
    </main>

</body>
</html>