.container{
    height: 400px;
    width: 450px;
    background-color: rgb(128, 198, 221);
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
img{
    width: 140px;
    margin: 3px;
}
.large{
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 50%;
    margin: 10px;

}
p{
    border: 4px solid black;
    height: 25px;
    width: 140px;
}

@media (max-width : 640px){
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
}