body{
    margin: 0px;
}
.box{
    /* height: 150px;
    width: 150px; */
    border: 3px solid black;
}
.container {
    background-color: dimgray;
    height: 800px;
    position: absolute;
    top: 0px; 
    left: 0;
    right: 0;
    margin: 2px;
    border: 4px solid black;
    /* flex */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: start; /* for horizontal align [main axis] */
    align-items: start; /* for vertical align [cross axis] */
    align-content: center;
   
  }
#box1{
    background-color: pink;
    order: 4;
    /* flex-grow: 1; */
}
#box2{
    background-color: aqua;
    order: 3;
}
#box3{
    background-color: yellow;
    order: 2;
}
#box4{
    background-color: blue;
    /* shrink and gro */
    /* order: 1;
    flex-shrink: 5; */
    /* flex-basis: 120px;
     */

}

