<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Users</title>
</head>
<body>
    <h1>There are <%= count %> Users in the database</h1>
    <button>
        <a href="/users">See all users</a>
    </button>
</body>
</html>