<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            background-color: rgb(27, 26, 26);
            color: white;
        }
    </style>
</head>
<body>
    <h1>This is a ejs home page 2 * 4</h1>

    <!-- Interpolation syntax -->
    <h2> <%= "punit".toUpperCase() %> </h2>
    <h2> <%= [10, 20, 30].map(val => val * 2) %> </h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores earum eum quas esse nisi accusamus voluptatibus possimus officia quisquam perferendis!</p>

    <button>Click me</button>
</body>
</html>