body{
    width: 100vw;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: dimgray;
    border: 2px solid;
    padding: 10px 0px;
    display: grid;
    /* gap: 5rem; */
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(5, 50px);

}

.items{
    background-color: greenyellow;
    /* height: 100px;
    width: 100px; */
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.a1{
    grid-column: 1/5;
    grid-row: 1/2;
}
.a2{
    grid-row: 2/5;
    grid-column: 1/2;
}
.a3{
    grid-column: 2/5;
    grid-row: 2/4;
}
.a4{
    grid-column: 2/4;
}
.a6{
    grid-column: 1/5;
    grid-row: 5/6;
}