*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 3vw;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
}
.items{
    background-color: lightblue;
    border: 4px solid rgb(205, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .footer{
    grid-column: 1/4;
}
.sidebar{
    grid-row: 2/4;
}
.content3{
    grid-column-start: 2;
    grid-column-end: 4;
}
