<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Chat</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/edit.css">
</head>
<body>
    <main>
        <h1>View Chat</h1>
        <br>
        <div class="chatDetails">
            <h3>chatId: <i> <%= chat._id %> </i></h3>
            <br>
            <h3>From: <i> <%= chat.from %> </i></h3>
            <h3>To: <i> <%= chat.to %> </i></h3>
            <p><%= chat.message %></p>
        </div>
    </main>
</body>
</html>