<header>
    <nav>
        <div class="title">
            <img src="/images/note.png" alt="Notes">
            <h1>TakeNotes</h1>
        </div>
        <a href="/notes/new"">
            <Button class="btn">Add Note</Button>
        </a>
    </nav>
</header>